<!-- html for a table that lists all reports and their fields and has a button to delete reports -->
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Code</th>
      <th>Temperature</th>
      <th>Wind Speed</th>
      <th>Pressure</th>
      <th>Wind Direction</th>
    </tr>
  </thead>
  <tbody>
    {{#each station.reports}}
    <tr>
      <td>
        {{code}}
      </td>
      <td>
        {{temp}}
      </td>
      <td>
        {{wind_speed}}
      </td>
       <td>
        {{pressure}}
      </td>
      <td>
        {{wind_direction}}
      </td>
      <td>
        <a href="/station/{{../station._id}}/deletereport/{{this._id}}" class="button is-small is-danger">
          {{> icons/delete}}
        </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
